body {
  height: 100vh;
  /* background-color: #E3E3E3; */
  color: gray;
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 9px 9px,
    rgba(0, 0, 0, 0.12) 0px -6px 15px,
    rgba(0, 0, 0, 0.12) 2px 2px 6px,
    rgba(0, 0, 0, 0.17) 0px 5px 6px,
    rgba(0, 0, 0, 0.09) 0px -2px 5px;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 23px;
  color: #143f3e;
  /* color: #F7C548; */
}

nav img {
  display: block;
  height: 35px;
  width: 35px;
  margin: 0 auto;
}

main {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Personal Recipe Page */
.stretched-link {
  text-decoration: none;
  color: black;
}

.form-group {
  margin-top: 2%;
}

.btn-success {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 9px 9px,
      rgba(0, 0, 0, 0.12) 0px -6px 15px,
      rgba(0, 0, 0, 0.12) 2px 2px 6px,
      rgba(0, 0, 0, 0.17) 0px 5px 6px,
      rgba(0, 0, 0, 0.09) 0px -2px 5px;
}

.add-ingredients:hover {
  cursor: pointer;
}

/* Index */
.img-home-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 9px 9px,
      rgba(0, 0, 0, 0.12) 0px -6px 15px,
      rgba(0, 0, 0, 0.09) 0px -2px 5px;
}