<%- include('../partials/header.ejs') %>

<main class="container-fluid">
    <h1>Recipes</h1>
    <div class="row">
        <div class="col-5 col-sm-4 col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_640.png">
                <a href="/recipes/new" class="stretched-link"></a>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>