<%- include('../partials/header.ejs') %>

<p><%= user.name %></p>
<main>
    <h3>Recipes</h3>
    <div id="recipes-container">
        <button id="btn-add-recipe">+ ADD</button>
    </div>
</main>

<%- include('../partials/footer.ejs') %>